<%- include('../../partials/header') %>
    <div class="container">
        <h2>Sejam bem vindos ao meu blog</h2>

        <% result.articles.rows.forEach((articles)=> { %>
            <hr>
            <h2>
                <%= articles.titulo %>
            </h2>
            <%- articles.body %>
            <br><br>
            <%+ articles.category_titulo %>
        <% }) %>
            <div class="row">
                <div class="col col-12">
                    <% if(result.page > 2){ %>
                        <a style="float: left;" href="/articles/pages/<%= result.page - 1 %>"><<< Voltar</a>
                    <% }else if(result.page == 2){ %>
                        <a style="float: left;" href="/"><<< Voltar</a>
                    <% } %>
                    <% if(result.next){ %>
                        <a style="float: right;" href="/articles/pages/<%= result.page + 1 %>">Próximo >>></a>
                    <% }else{} %>
                </div>
            </div>
            <hr>
    </div>

    <%- include('../../partials/footer') %>